<%- include(`./partials/header.ejs`) %>

    <div>
        <h1>MyCart</h1>
        <ul>
            <% for (let i = 0; i < items.length; i++) { %>
            <% if (items[i].obtained === true) { %>
            <li class="obtained">
            <% } else if (items[i].outOfStock === true) { %>
            <li class="outOfStock">
            <% } else { %>
            <li>
            <% } %>
                <h2><a href="/cart/<%= items[i].id %>"><%= items[i].name %></a></h2>
                $<%= items[i].price %>
                <button onclick="location.href=`/cart/<%= items[i].id %>/edit`" class="editButton">
                    <i class="fa-solid fa-pen-to-square fa-2xl"></i>
                </button>
                <form action="/cart/<%= items[i].id %>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE">
                </form>
            </li>
            <% } %>
        </ul>
    </div>

    <button onclick="location.href=`/cart/new`">Create New Cart Item</button>

<%- include(`./partials/footer.ejs`) %>